#logo {
  margin: auto;
  height: 12em;
  width: auto;
  padding-top: 3em;
  filter: drop-shadow(0 0 3em white);
  text-align: center;
}
#logo img{
  height: 100%;
}


button{
  color: white;
  border-color: white;
  border-width: thick;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

#login {
  background-color: #37a147;
}

#login:hover {
  background-color: #46d15b;
  border-color: white;
}

#signin {
  background-color: #0968af;
}

#signin:hover {
  background-color: #0c86e4;
  border-color: white;
}
  