.partida{
    display: inline-block;
    border: thick solid white;
    border-radius: 30px;
    background-color: rgb(0, 165, 25);
    color: white;
    width: 300px;
    height: 180px;
    /* margin: auto; */
    margin: 1em;
}

.codigo{
    color: black;
    background-color: white;
    padding: 0.2em 1em 0.2em 1em;
    margin-left: 1em;
}

.unir_partida{
    margin-top: 2.3em;
}

.unir_partida_boton{
    color: white;
    border: thick solid white;
    background-color: red;
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
}