#crear_partida {
    background-color: #37a147;
}

#crear_partida:hover {
    background-color: #46d15b;
    border-color: white;
}

#unirse_a_partida {
    background-color: #0968af;
}

#unirse_a_partida:hover {
    background-color: #0c86e4;
    border-color: white;
}